{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_workload/block_footer

    Capability-gated footer links of the workload block, separated by
    middots. The "separator" flag is precomputed per item (true for every
    link except the last).

    @package   block_workload
    @copyright 2026 Yurii Lysak
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

    Example context (json):
    {
        "links": [
            {
                "url": "http://example.com/blocks/workload/mystats.php",
                "label": "My statistics",
                "separator": true
            },
            {
                "url": "http://example.com/blocks/workload/manage.php",
                "label": "Manage cohorts",
                "separator": false
            }
        ]
    }
}}
{{#links}}<a href="{{{url}}}">{{label}}</a>{{#separator}} &middot; {{/separator}}{{/links}}
